<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>

                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >Model</th>
                    <th align='left' >Capacity</th>
                    <th align='left' >Rent</th>
                    <th align='left' >DriverName</th>
                    <th align='left' >Phone</th>
                    <th align='left' >Experience</th>
                    <th align='left' >Image</th>


              </tr>
                </thead>
                <tbody>

                  <td style='width: 200; text-align: center'>2</td>
                     <td style='width: 200; text-align: center'>Car</td>
                     <td style='width: 200; text-align: center'>2014-honda-odyssey</td>
                     <td style='width: 200; text-align: center'>12</td>
                     <td style='width: 200; text-align: center'>12000</td>
                     <td style='width: 200; text-align: center'>abc</td>
                     <td style='width: 200; text-align: center'>12314253</td>
                     <td style='width: 200; text-align: center'>4</td>
                     <td style='padding-left: 3%'><img src='../../../views/SEIP_136875/ProfilePicture/Upload/2014-honda-odyssey-15_318.jpg' style="width:64px;height:64px;" /></td>


                </tbody>
            </table>

