#whole
{
    height:1000px;
    margin:0px auto;
}
#header
{
    width:1100px;
    height:100px;
    font-color:#A52A2A;
    text-align:center;
    margin:0px auto;
    background-color:#e3e9ed;
    border-style:solid;
    border-color:#FFDEAD;
}
#B
{
    width:1100px;
    height:50px;
    margin:0px auto;
    background-color:#FFE4C4;
    border-style:solid;

}
#left
{
    float:left;
    margin:0px auto;
    width:550px;
}
#left1
{
    float:left;
    width:131px;
    margin:0px auto;
    text-align:center;
    text-shadow:2px,2px,blur,red;
}
#left2
{
    float:left;

    margin:0px auto;
    width:231px;
    text-align:center;
    text-shadow:2px,2px,blur,red;
}
#left3
{

    float:left;
    margin:0px auto;
    width:188px;
    text-align:center;
    text-shadow:2px,2px,blur,red;

}
#right
{

    float:right;
    margin:0px auto;
    width:550px;
}
#right1
{
    float:right;
    margin:0px auto;
    width:131px;
    text-align:center;
    text-shadow:2px,2px,blur,red;

}
#right2
{
    float:right;
    margin:0px auto;
    width:188px;
    text-align:center;
    text-shadow:2px,2px,blur,red;

}

#intro
{
    border-style:solid;
    border-color:#003333;
    height:500px;
    width:1100px;
    margin:0px auto;
    background-color:#003333;
}
#left4
{
    float:left;
    height:500px;
    width:490px;
    margin:0px auto;
}
#right4
{
    background-color:#003333;
    float:right;
    font-size:22px;
    font-style: italic;
    height:500px;
    width:600px;
    margin:0px auto;
}

#marquee
{
    background-color:#CCFFFF;
    height:220px;
    width:1100px;
    margin:0px auto;
    border-style:solid;
    border-color:#003333;
}
#footer
{
    border-style:solid;
    border-color:#008080;
    height:70px;
    width:1100px;
    text-align:center;
    margin:0px auto;
    background-color:#003333;
}
body{

background: image("../../bootstrap/image/in.jpg");
}

.container{
    width:750px;
    height: 400px;
    background-color: #077054 ;
    margin: 100px auto;
    padding: 10px;
}

.container_left{

    width:300px;
    height: 500px;
    margin:10px 0 5px 40px;
    background: transparent;
    float: left;
}

.container_right{

    width:360px;
    height: 500px;
    margin:10px 5px 5px 5px;
    background: transparent;
    float: right;
}

.container_right input,.container_left input{

    height:45px;
    width:180px;
    background-color:#484848;
    padding: 15px 20px 20px 20px;
    margin: 20px;
    font-family: 'Lobster', helvetica, arial;
    font-size: 20px;
    text-align: left;
    color:#ffffff;
    text-shadow: aliceblue;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
}



.container_right img,.container_left img{

    height:40px;
    width:40px;
    background-color:#484848;
    margin: 20px 0 20px 20px;
    float: left;
    border-radius: 40%;

}



#whole
{
    height:1000px;
    margin:0px auto;
}
#header
{
    width:1100px;
    height:100px;
    font-color:#e3e9ed;
    text-align:center;
    margin:0px auto;
    background-color:#663366;
}
#B
{
    width:1100px;
    height:50px;
    margin:0px auto;
    background-color:#9966FF;
}
#left
{
    float:left;
    margin:0px auto;
    width:550px;
}
#left1
{
    float:left;
    width:131px;
    margin:0px auto;
    text-align:center;
}
#left2
{
    float:left;

    margin:0px auto;
    width:231px;
    text-align:center;
}
#left3
{

    float:left;
    margin:0px auto;
    width:188px;
    text-align:center;

}

#right
{

    float:right;
    margin:0px auto;
    width:550px;
}
#right1
{
    float:right;

    margin:0px auto;
    width:131px;
    text-align:center;

}
#right2
{
    float:right;
    margin:0px auto;
    width:188px;
    text-align:center;

}
#right3
{
    float:right;
    width:231px;
    margin:0px auto;
    text-align:center;

}
#box
{

    background-color:#778899;
    height:550px;
    width:1100px;
    margin:0px auto;
    font-size: 25px;
    background-repeat: no-repeat;
    background-size:1100px 600px;

}


#footer
{
    border-style:solid;
    border-color:#CC0033;
    height:70px;
    width:1100px;
    text-align:center;
    margin:0px auto;
    background-color:#CC0033;
}
